{% import "forms.twig" as forms %}
<html>
<head>
    <title>Add new program</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <form action="/program" method="post">
        <p>{{ forms.textinput('Date', 'date') }}</p>
        <p>{{ forms.textinput('Start time', 'start', '', 10) }}</p>
        <p>{{ forms.textarea('Lead text', 'leadtext') }}</p>
        <p>{{ forms.textinput('Name', 'name') }}</p>
        <p>{{ forms.textinput('B-line', 'b-line', '', 40) }}</p>
        <p>{{ forms.textarea('Synopsis', 'synopsis') }}</p>
        <p>{{ forms.textinput('Url', 'url', 'http://', 40) }}</p>

        <input type="submit" value="Add" />
    </form>
</body>
</html>


